.search {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
}

.search input {
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
}

.box {
    width: 30%;
    height: 30%;
    margin-left: 540px;
}

.box img {
    position:relative;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 120px;
    padding: 30px;
}

.box .box2{
    margin-bottom: 10px;
}

.box .btn{
    margin-left: 80px;
}

.btn:focus {     
    background-color: red;    
}